body {
    background-color: var(--blanco-difuminado);
}

.bi-stars {
    margin-right: 8px;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    padding: var(--relleno);
    margin: 32px 0;
    font-family: "Raleway", sans-serif;
    cursor: pointer;
}

.encabezado__nombre {
    font-weight: 700; 
}

.encabezado__elementos:last-child {
    font-weight: bold;
}

.encabezado__lista {
   display: flex; 
   gap: 20px;
   list-style: none;
}

.competencias__skills__elementos,
.competencias__hobbies__elementos {
    width: 161px;
    height: 163px;
}

.presentacion {
    display: flex;
    justify-content: center;
    padding: 3% 10%;
    gap: 17px;
}

.presentacion__contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.presentacion__titulo {
    font-size: 49px;
    font-weight: bold;
}

.presentacion__informacion {
    font-size: 20px;
    font-weight: 400;
    margin: 24px 0;
}

.presentacion__lista {
    display: flex;
    font-weight: 500;
    font-size: 15px;
    gap: 32px;
    cursor: pointer;
}

.bi-arrow-up-right-circle {
    margin-left: 4px;
}

.presentacion__imagen {
    float: right;
    height: 300px;
    width: 300px;
}

.sobre-mi {
    display: flex;
    justify-content: start;
    background-color: var(--azul-claro);
    padding: var(--relleno);
}

.sobre-mi__contenido {
    padding: 64px 325px 64px 0;
}

.sobre-mi__titulo {
    margin-bottom: 16px;
    font-size: 30px;
    font-weight: 700;
}

.sobre-mi__parrafo {
    margin-bottom: 16px;
    font-size: 15px;
}

.competencias{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: var(--relleno);
    margin-top: 32px;
}

.competencias__hobbies,
.competencias__skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.competencias h2 {
    margin-bottom: 32px;
    font-size: 30px;
    font-weight: bold;
}

.competencias__hobbies__lista, 
.competencias__skills__lista { 
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 10px;
    margin-bottom: 88px;
}

.formacion__academica {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--relleno);
    background-color: var(--azul-claro);
}

.formacion__titulo {
    padding-top: 82px;
    font-size: 30px;
    font-weight: 700;
}

.formacion__academica__contenido {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 32px;
    padding-bottom: 82px;
}

.formacion__academica__titulo {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 8px;
}

.formacion__academica__informacion {
    font-size: 15px;
    font-weight: 500;
}

.experiencia__profesional {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 32px 0;
}

.experiencia__profesional__titulo {
    padding: 32px 0;
    font-size: 30px;
    font-weight: 700;
}

/* .experiencia__profesional {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 32px 0;
} */

.bloque-1 {
    flex-direction: row;
}

.bloque-2 {
    flex-direction: row-reverse;
}

.experiencia__profesional__bloque__titulo {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 8px;
}

.experiencia__profesional__bloque__informacion {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 8px;
}

.experiencia__profesional__bloque__boton {
    border: solid 1px #2A7AE4;
    padding: 14px;
    color: #2A7AE4;
    margin-right: 14px;
    font-size: 15px;
}

.experiencia__profesional__bloque__boton:hover {
    color: var(--blanco-difuminado);
    background-color: #2A7AE4;
}

.contacto {
    display: flex;
    justify-content: center;
    background-color: var(--azul-claro);
    padding: var(--relleno);
}

.contacto__contenido {
    display: flex;
    padding: 64px 0;
    gap: 16px;
}

.contacto__figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacto__contenido__titulo {
    font-size: 19px;
    font-weight: 700;
    margin-bottom: 8px;
}

.contacto__contenido__informacion {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
}

.contacto__contenido__boton {
    border: solid 1px #2A7AE4;
    padding: 14px;
    color: #2A7AE4;
    margin-right: 14px;
    font-size: 15px;
}

.contacto__contenido__boton:hover {
    color: var(--blanco-difuminado);
    background-color: #2A7AE4;
}

.pie__pagina {
    text-align: center;
    background-color: var(--blanco);
    padding: 32px 0;
    font-family: "Raleway", sans-serif;
}

@media (max-width: 1220px) {

    .encabezado__lista li:not(:last-child) {
        display: none;
    }

    .encabezado,.sobre-mi,
    .competencias, .formacion__academica, 
    .contacto {
        padding: 0 2%;
    }

    .presentacion {
        padding: 3% 2%;
    }

    .presentacion__titulo {
        font-size: 40px;
    }

    .presentacion__informacion {
        font-size: 16px;
    }

    .presentacion__lista {
        font-size: 12px;
    }

    .presentacion__imagen {
        height: 200px;
        width: 200px;
    }

    .sobre-mi__contenido {
        padding: 64px 0px 64px 0;
    }

    .sobre-mi__parrafo {
        font-size: 11px;
    }

    .competencias h2,
    .sobre-mi__titulo,
    .formacion__titulo, .experiencia__profesional__titulo {
        font-size: 24px;
    }

    .experiencia__profesional {
        flex-direction: column;
        justify-content: center;
    }

    .experiencia__profesional > figcaption {
        margin-right: auto;
    }

    .experiencia__profesional__bloque > img {
        padding-bottom: 10px;
    }

    .contacto__contenido > img {
        display: none;
    }
}

